<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome {{ user?.firstName }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-content">
    <h2>Book Your Delivery</h2>
    <p>Coming soon - full booking interface with GPS tracking, payment integration, and real-time updates!</p>
    
    <ion-button expand="block" color="primary" disabled>
      <ion-icon name="add" slot="start"></ion-icon>
      Book Delivery (Coming Soon)
    </ion-button>
  </div>
</ion-content>