<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome {{ user?.firstName }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-content">
    <h2>Start Earning Today</h2>
    <p>Accept delivery orders and track your earnings. Coming soon with GPS navigation, real-time notifications, and comprehensive driver tools!</p>
    
    <ion-button expand="block" color="primary" disabled>
      <ion-icon name="car" slot="start"></ion-icon>
      Go Online (Coming Soon)
    </ion-button>
  </div>
</ion-content>